<nav class="navbar navbar-expand-lg navbar-light fixed-top py-2" id="mainNav">
    <div class="container px-2 px-lg-1">
        <a class="navbar-brand" href="#" routerLink="/home"><img src="../../assets/img/green1.png" width="20%" alt="logo"/> Greenisia</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item" id="home-link"><a class="nav-link" href="#" routerLink="/home">Home</a></li>
                <li class="nav-item" id="dashboard-link"><a class="nav-link" href="#" routerLink="/dashboard">Dashboard</a></li>
                <li class="nav-item" id="predict-link"><a class="nav-link" href="#" routerLink="/prediction">Carbon Footprint Analyzer</a></li>
                <li class="nav-item" id="energy-link"><a class="nav-link" href="#" routerLink="/prediction_energy">Energy prediction</a></li>
                <li class="nav-item" id="image-link"><a class="nav-link" href="#" routerLink="/suggestion">Image Prediction</a></li>
                <li class="nav-item " style="color: #A8E6CF;" id="logout-link"><a class="nav-link" href="javascript:void(0);" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>